################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdjacencyListDemo.Web/bin/Debug/netcoreapp2.0
/AdjacencyListDemo.Web/obj
/AdjacencyListDemo.Web/wwwroot/lib
/AdjacencyListDemo.Web/wwwroot/css/site.min.css
/AdjacencyListDemo.Web/wwwroot/js/site.min.js
.vscode/launch.json
.vscode/tasks.json
/DynamoDb
dynamoDb.zip
