################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/netcoreapp2.0
/obj
/wwwroot/lib
/wwwroot/css/site.min.css
/wwwroot/js/site.min.js
.vscode/launch.json
.vscode/tasks.json
